// Media Query Breakpoints
$maxMedia:"(max-width:576px)";
$minSmall:"(min-width:768px)";
$maxSmall:"(max-width:768px)";
$minMedium:"(min-width:992px)";
$maxMedium:"(max-width:992px)";
$maxLarge:"(max-width:1280px)"; 
$minLarge:"(min-width:1280px)"; 
$minExtraLarge:"(min-width:1300px)"; 
$maxExtraLarge:"(max-width:1380px)";

/* Colors */
$wc:#FFFFFF;
$bc:#000000;
$textc:#000000bf;
$accent:#00A8FF;
$light-accent:#b362ea;
$subcolor:#229CF4;
$cta:#000;