---
layout: default
---
{% include navbar.html %}
<header class="faq-header">
	<div class="container">
		<div class="faq-holder">
			<div class="faq-text contact-text">
				<h1 class="faq-h1">Answering Your <span class="underline">Questions</span></h1>
				<p>Below are some commonly-asked questions Regarding Valgus Co.</p>
			</div>
		</div>
	</div>
 <div class="overlay"></div>
</header>
		<div class="container">
			<div class="main-heading">
			<h1>Curious To Know More?</h1>	
		</div>
</div>
<section class="faq col-2 color ss-style-curvedown">
	<div class="container">
		<h1 style="font-size:2.3em;color:#FFF">General/Miscellaneous</h1>
	<div class='faq-content'>
			<div class="accordion js-accordion active">
			  <div class="accordion__item js-accordion-item">
			    <div class="accordion-header js-accordion-header">Is my personal information safe?</div> 
			  <div class="accordion-body js-accordion-body">
			    <div class="accordion-body__contents">
			      We care about your privacy. You can read our Privacy Policy <a style="color:royalblue" href="/policy">here</a>. The Privacy Policy is a part of our Terms of Service.
			    </div>
			    </div
			    </div><!-- end of accordion body -->
			  </div><!-- end of accordion item -->
			  <div class="accordion__item js-accordion-item">
			    <div class="accordion-header js-accordion-header">What is Valgus's main telephone number?</div> 
			  <div class="accordion-body js-accordion-body">
			    <div class="accordion-body__contents">
					The main telephone number at Valgus is 914-787-1000. If you need a pedorthist referral, call 914-787-5000.
			    </div>
			      <div class="accordion js-accordion">
			        <div class="accordion__item js-accordion-item">
			           <div class="accordion-body js-accordion-body">
			           </div><!-- end of sub accordion item body -->
			        </div><!-- end of sub accordion item -->
			        <div class="accordion__item js-accordion-item">
			           <div class="accordion-body js-accordion-body">
			           </div><!-- end of sub accordion item body -->
			        </div><!-- end of sub accordion item -->
			      </div><!-- end of sub accordion -->
			    </div><!-- end of accordion body -->
			  </div><!-- end of accordion item -->
			    <div class="accordion__item js-accordion-item">
			    <div class="accordion-header js-accordion-header">How long do orthotics last?</div> 
			  <div class="accordion-body js-accordion-body">
			    <div class="accordion-body__contents">
			      On average, sport models last between 2 to 4 years for recreational athletes and one year for professional athletes. Dress/fashion models last between 6 to 8 years. Cycling, ski and skating models last 10+ years.
			    </div>
			    </div><!-- end of accordion body -->
			  </div><!-- end of accordion item -->
			     <div class="accordion__item js-accordion-item">
			    <div class="accordion-header js-accordion-header">Can orthotics be refurbished?</div> 
			  <div class="accordion-body js-accordion-body">
			    <div class="accordion-body__contents">
			           Yes, Please keep in mind that not all orthotics can be refurbished. It is best to have your orthotics evaluated every two years to ensure they are in good condition.
			    </div>
			      <div class="accordion js-accordion">
			    </div><!-- end of accordion body -->
			  </div><!-- end of accordion item -->
		</div>
			     <div class="accordion__item js-accordion-item">
			    <div class="accordion-header js-accordion-header">I have Sport Orthotics. Can I order a pair for my dress shoes?</div> 
			  <div class="accordion-body js-accordion-body">
			    <div class="accordion-body__contents">
					Yes, we can send you dress orthotics based on your sport orthotics or the other way around.
			    </div>
			      <div class="accordion js-accordion">
			    </div><!-- end of accordion body -->
			  </div><!-- end of accordion item -->
			  <a class="link" href="/policy">Learn About Valgus Co</a>
		</div>
</section>
<svg id="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 0 C 50 100 80 100 100 0 Z" />
</svg>
<section class="faq">

	<div class="container">
			<h1>Valgus Questionnaire</h1>	
<!-- 		<h1>About AussieMoneyMan</h1>
 -->	<div class='faq-content'>
			<div class="accordion js-accordion active">
			  <div class="accordion__item js-accordion-item">
			    <div class="accordion-header js-accordion-header">How Accurate Is Our Questionnaire</div> 
			  <div class="accordion-body js-accordion-body">
			    <div class="accordion-body__contents">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sed quae nam dolor, omnis libero deserunt eum ratione iste quisquam, earum aspernatur quibusdam! Sint pariatur optio veniam repellat, inventore maiores?
			    </div>
			    </div
			    </div><!-- end of accordion body -->
			  </div><!-- end of accordion item -->
			  <div class="accordion__item js-accordion-item">
			    <div class="accordion-header js-accordion-header">Will every situation be in the questionnaire?</div> 
			  <div class="accordion-body js-accordion-body">
			    <div class="accordion-body__contents">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae dolorum quisquam voluptatem amet ipsum voluptatibus quas tempora.
			    </div>
			      <div class="accordion js-accordion">
			        <div class="accordion__item js-accordion-item">
			        </div><!-- end of sub accordion item -->
			      </div><!-- end of sub accordion -->
			    </div><!-- end of accordion body -->
			  </div><!-- end of accordion item -->
			    <div class="accordion__item js-accordion-item">
			    <div class="accordion-header js-accordion-header">Can I trust the questionnaire</div> 
			  <div class="accordion-body js-accordion-body">
			    <div class="accordion-body__contents">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit Consequatur.
			    </div>
			    </div><!-- end of accordion body -->
			  </div><!-- end of accordion item -->
  			  <a class="link" target="_base" href="/policy">Check Our Policy</a>
		</div>
</section>
<svg class="business-faq-svg" id="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 0 C 50 100 80 100 100 0 Z" />
</svg>

<section class="faq business-faq">
	<div class="container">
			<h1 style="color:#FFF">Shipping & Delivery</h1>	
		<div class='faq-content'>
			<div class="accordion js-accordion active">
			  <div class="accordion__item js-accordion-item active">
			    <div class="accordion-header js-accordion-header">How Long It usually Takes for My Order To Arrive</div> 
			  <div class="accordion-body js-accordion-body">
			    <div class="accordion-body__contents">
					Typically,  your orders will be delivered in about 7-14 days. 
			    </div>
			    </div
			    </div><!-- end of accordion body -->
			  </div><!-- end of accordion item -->
			  <div class="accordion__item js-accordion-item">
			    <div class="accordion-header js-accordion-header">Will I be Able to return My Order?</div> 
			  <div class="accordion-body js-accordion-body">
			    <div class="accordion-body__contents">
				 	We have 30-day return guarantee on any new purchase you have made at our online store.
			    </div>
			      <div class="accordion js-accordion">
			        <div class="accordion__item js-accordion-item">
			        </div><!-- end of sub accordion item -->
			      </div><!-- end of sub accordion -->
			    </div><!-- end of accordion body -->
			  </div><!-- end of accordion item -->
</section>

{% include footer.html %}
