---
layout: default
---

<header class="main-h store">
	{% include navbar.html %}	
	<div class="wrapper">
		<main>
			<div class="textStore">
			 	<div class="typing">   
<!-- 			 		<h1 class="landingH1">What Your 
			 		 <span class="underline">Feet Needs</span>
			 		 <span class="underline">Knee Needs</span>
			 		 <span class="underline">Ankle Needs</span>
			 		 <span class="underline">Lower Back Needs</span>
			 		  </h1>

 -->			 
			     <h1 class="rev-block">
			          <span>Decipher your discomfort</span>
			     </h1>
			     <h1 class="rev-block" id="onemore">
			          <span>The world's first online pre made tailor made orthotic store</span>
			     </h1>

 	</div>
		 		<button class="btn-cta"><a style="color:#FFF" href="/store">Shop Now!</a> &nbsp;&nbsp; <i class="im im-shopping-cart"></i></button>	
			</div>
		 </main>
	</div> 
</header> 


<!-- Features -->

<section class="features">
	<div class="container">
		<!-- One -->
		<div class="feature">
			<div 
  data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-out"

			 class="row mediaTxt">
				 <h1 class="f-headings">Pain is a sign of biomechanical dysfunction</h1>
				 <p class="f-para" >
				 The art of biomechanics is finding what is causing the pain and treating it effectively.
				Everyday Internal + External forces can change the function of our bodies genetic engineering structure. This can compromise the biomechanical engineering of your legs and feet which can cause specific conditions, pain and dysfunction throughout your body.


				 <p class="f-para" >
				 	Orthotics are designed to provide comfort whilst controlling your foot in a sound biomechanical position improving alignment, balance and control in the process.

				 </p>
					<button class="btn-cta"> <a style="color:#FFF" href="/products">Check Our Products&nbsp;&nbsp;<i class="im im-arrow-right"></i></a></button>
			</div>
			<div
  data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-delay="500"
  data-sal-easing="ease-out"

			 class="row mediaImg">
				<img src="/assets/img/main/illustrate.png" alt="orthotic-shoes">
			</div>			
		</div>

	</div>
</section>

<section class="quiz">
	<div style="text-align: center;" class="container">
		<h1>Get a personalized recommendations!</h1>
		<p>Take Our Questionnaier to find the best product for YOU</p>
		
		<div class="infographic">
			<div class="img1">
				<img src="/assets/img/main/foot-pain.png" alt="foot-pain">
				<h2>Feeling discomfort but don't know what it is?</h2>
			</div>

			<div class="img2">
				<img src="/assets/img/main/quiz.png" alt="foot-pain-quiz">
				<h2>take our questionnaire</h2>
			</div>
			<div class="img3">
				<img src="/assets/img/main/shoee.png" alt="orthotic-shoes">
				<h2>to tailor make the product just for you!</h2>				
			</div>
		</div>


			<button style="width: 360px;background:#00C8E5" class="btn-cta">Start Now&nbsp;&nbsp;<i class="im im-arrow-right"></i></button>
	</div>
</section>

<section class="actions">
	<div class="container">
		<div class="questionnaire-action">
			<div 

data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-out"
			 class="mediaText">
				<h1><span class="underline">Book</span> Your Free 1v1 Consultation</h1>
				<p> You can book in with our biomechanical medical experts online and have a chat to them to get a clearer insight into your condition and what product would be best for you!</p>
			<button class="btn-cta"><a style="color:#FFF" href="/contact">Book Consultation&nbsp;&nbsp;<i class="im im-arrow-right"></i></a></button> 


			</div>
			<div class="mediaImg">
				<img src="assets/img/main/2.jpeg" alt="2">
			</div>
		</div>
	</div>
</section>

<section class="blog info">
	 <h1 class="f-headings">Our Recent Blogs</h1>
		<section   data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-out"
 class="cards-wrapper">
		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
		      <div>
		        <h1>Footwear education at Palm...</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nobis pariatur temporibus nulla quaerat, perspiciatis.</p>
		        <div class="date">6 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>

		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
		      <div>
		        <h1>Good Doctors & Your Future</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nobis pariatur temporibus nulla quaerat, perspiciatis.</p>
		        <div class="date">9 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>
		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
		      <div>
		        <h1>Always Enhance Performance</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nobis pariatur temporibus nulla quaerat, perspiciatis.</p>
		        <div class="date">14 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>
		</section>
		<section
data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-in"
 class="cards-wrapper">
		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
		      <div>
		        <h1>Best Orthotics Options</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore incidunt, facilis. Doloribus possimus cum ipsa earum asperiores id a culpa omnis vero</p>
		        <div class="date">6 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>
		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
		      <div>
		        <h1>Orthotics Starter Package</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore incidunt, facilis. Doloribus possimus cum ipsa earum asperiores id a culpa omnis vero</p>
		        <div class="date">9 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>
		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
		      <div>
		        <h1>How Can Orthotics Make...</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore incidunt, facilis. Doloribus possimus cum ipsa earum asperiores id a culpa omnis vero</p>
		        <div class="date">14 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>
		</section>
</section>

<div class="container"><hr></div>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<!-- Features -->
{% include footer.html %}
