---
layout: default
---

<header class="main-h store">
	{% include navbar.html %}	
	<div class="wrapper">
		<main>
			<div class="textStore">
			 	<div class="typing">   
				     <h1 class="rev-block">
				          <span>Valgus Orthotics</span>
				     </h1>
			 		<h1 class="rev-block landingH1">What Your <span class="underline"></span> Needs</h1>

<!-- 			 		 <span class="underline">Feet Needs</span>
			 		 <span class="underline">Knee Needs</span>
			 		 <span class="underline">Ankle Needs</span>
			 		 <span class="underline">Lower Back Needs</span>
 -->			 		  
			 	</div>
		 		<button class="btn-cta"><a style="color:#FFF" href="/store">Shop Now!</a> &nbsp;&nbsp; <i class="im im-shopping-cart"></i></button>	
			</div>
		 </main>
	</div> 
</header> 


<!-- Features -->

<section class="quiz">
	<div class="container">
<!-- 		<div class="feature">
			<div 
  data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-out"
			 class="row mediaTxt">
				 <h1 class="f-headings">Pain is a sign of biomechanical dysfunction</h1>
				 <p class="f-para" >
				 The art of biomechanics is finding what is causing the pain and treating it effectively.
				Everyday Internal + External forces can change the function of our bodies genetic engineering structure. This can compromise the biomechanical engineering of your legs and feet which can cause specific conditions, pain and dysfunction throughout your body.


				 <p class="f-para" >
				 	Orthotics are designed to provide comfort whilst controlling your foot in a sound biomechanical position improving alignment, balance and control in the process.

				 </p>
					<button class="btn-cta"> <a style="color:#FFF" href="/products">Check Our Products&nbsp;&nbsp;<i class="im im-arrow-right"></i></a></button>
			</div>
			<div
  data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-delay="500"
  data-sal-easing="ease-out"

			 class="row mediaImg">
				<img src="/assets/img/main/illustrate.png" alt="orthotic-shoes">
			</div>			
		</div>
 -->
	<!-- NEW FEATURES -->
<!-- 		<div class="foot-without">
			<img src="assets/img/index/foot-without-orthotics.png" alt="foot-without-orthotics.png">
		</div>
		<div class="orth">
			<img src="assets/img/index/orthtoic.png" alt="orthtoic.png">
		</div>
		<div class="foot-with">
			<img src="assets/img/index/foot-with-orthotics.png" alt="foot-with-orthotics.png">
		</div>
	</div> -->

	<div style="text-align: center;" class="container">
		<h1 class="rev-block" >DECIPHER YOUR DISCOMFORT</h1>
		<p style="padding-top:10%;">With this Formula</p>
		
		<div class="infographic">
			<div class="img1">
				<img src="assets/img/index/foot-without-orthotics.png" alt="foot-without-orthotics.png">
			</div>

			<div class="img2">
				<img src="assets/img/index/orthtoic.png" alt="orthtoic.png">
			</div>
			<div class="img3">
				<img src="assets/img/index/foot-with-orthotics.png" alt="foot-with-orthotics.png">
			</div>
		</div>

			<p>Orthotics are designed to offer comfort whilst <br> controlling your foot in a sound biomechanical position</p>
			<button style="width: 360px;background:#000" class="btn-cta">Check Our Product&nbsp;&nbsp;<i class="im im-arrow-right"></i></button>
	</div>
</section>

<section  style="background: #DADADA" class="quizx">
	<div style="text-align: center;" class="container">
		<h1>Get Our Personal Recommendation</h1>
		<p>Valgus clients include children, sports people and elite athletes through to members of the general community. Typical podiatric problems may be related to improper development, occupation, sport & recreation. They can also come out about due to an underlying mechanical fault of that person's leg or foot. Most often, a combination of all these factors results in podiatric injuries</p>
		<div class="infog">
			<div class="txtCont">
				<div class="img">
					<img src="assets/img/index/quizx/1.png" alt="1.png">
				</div>
				<h2>HEEL PAIN AND SPURS</h2>
				
			</div>
			<div class="txtCont">
				<div class="img">
					<img src="assets/img/index/quizx/2.png" alt="2.png">
				</div>			
				<h2>SPORTING AND POSTURAL ANOMALIES</h2>
			</div>
			<div class="txtCont">
				<div class="img">
					<img src="assets/img/index/quizx/3.png" alt="3.png">
				</div>
				<h2>HIP, ITB AND LOWER BACK PAIN OR DYSFUNCTION</h2>				
			</div>
			<div class="txtCont">			
				<div class="img">
					<img src="assets/img/index/quizx/4.jpg" alt="4.jpg">
				</div>
				<h2>GROWING PAlNS</h2>							
			</div>
			<div class="txtCont">			
				<div class="img">
					<img src="assets/img/index/quizx/5.png" alt="5.png">
				</div>
				<h2>LIMPING AND ABNORMAL WALKING PATTERNS </h2>			
			</div>
			<div class="txtCont">			
				<div class="img">
					<img src="assets/img/index/quizx/6.png" alt="6.png">
				</div>
				<h2>UNDIAGNOSED PROBLEMS WITH FEET, LEGS KNEES OR HIPS</h2>							
			</div>
		</div>
	</section>
			
			</div>
<section class="actions">
	<div class="container">
		<div class="questionnaire-action">
			<div 

data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-out"
			 class="mediaText">
				<h1><span class="underline">Book</span> Your Free 1v1 Consultation</h1>
				<p> You can book in with our biomechanical medical experts online and have a chat to them to get a clearer insight into your condition and what product would be best for you!</p>
			<button class="btn-cta"><a style="color:#FFF" href="/contact">Book Consultation&nbsp;&nbsp;<i class="im im-arrow-right"></i></a></button> 


			</div>
			<div class="mediaImg">
				<img src="assets/img/main/2.jpeg" alt="2">
			</div>
		</div>
	</div>
</section>

<section class="blog info">
	 <h1 class="f-headings">Our Recent Blogs</h1>
		<section   data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-out"
 class="cards-wrapper">
		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
		      <div>
		        <h1>Footwear education at Palm...</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nobis pariatur temporibus nulla quaerat, perspiciatis.</p>
		        <div class="date">6 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>

		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
		      <div>
		        <h1>Good Doctors & Your Future</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nobis pariatur temporibus nulla quaerat, perspiciatis.</p>
		        <div class="date">9 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>
		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
		      <div>
		        <h1>Always Enhance Performance</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nobis pariatur temporibus nulla quaerat, perspiciatis.</p>
		        <div class="date">14 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>
		</section>
		<section
data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-in"
 class="cards-wrapper">
		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
		      <div>
		        <h1>Best Orthotics Options</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore incidunt, facilis. Doloribus possimus cum ipsa earum asperiores id a culpa omnis vero</p>
		        <div class="date">6 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>
		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
		      <div>
		        <h1>Orthotics Starter Package</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore incidunt, facilis. Doloribus possimus cum ipsa earum asperiores id a culpa omnis vero</p>
		        <div class="date">9 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>
		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
		      <div>
		        <h1>How Can Orthotics Make...</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore incidunt, facilis. Doloribus possimus cum ipsa earum asperiores id a culpa omnis vero</p>
		        <div class="date">14 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>
		</section>
</section>

<div class="container"><hr></div>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<!-- Features -->
{% include footer.html %}
