---
layout: default
---

<header class="main-h store">
	{% include navbar.html %}	
	<div class="wrapper">
		<main>
			<div class="textStore">
			 	<div class="typing">   
<!-- 			 		<h1 class="landingH1">What Your 
			 		 <span class="underline">Feet Needs</span>
			 		 <span class="underline">Knee Needs</span>
			 		 <span class="underline">Ankle Needs</span>
			 		 <span class="underline">Lower Back Needs</span>
			 		  </h1>

 -->			 
			     <h1 class="rev-block">
			          <span>Decipher your discomfort</span>
			     </h1>
			     <h1 class="rev-block" id="onemore">
			          <span>The world's first online pre made tailor made orthotic store</span>
			     </h1>

 	</div>
		 		<button class="btn-cta"><a style="color:#FFF" href="/store">Shop Now!</a> &nbsp;&nbsp; <i class="im im-shopping-cart"></i></button>	
			</div>
		 </main>
	</div> 
</header> 


<!-- Features -->

<section class="features">
	<div class="container">
		<!-- One -->
		<div class="feature">
			<div 
  data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-out"

			 class="row mediaTxt">
				 <h1 class="f-headings">Pain is a sign of biomechanical dysfunction</h1>
				 <p class="f-para" >
				 The art of biomechanics is finding what is causing the pain and treating it effectively.
				Everyday Internal + External forces can change the function of our bodies genetic engineering structure. This can compromise the biomechanical engineering of your legs and feet which can cause specific conditions, pain and dysfunction throughout your body.


				 <p class="f-para" >
				 	Orthotics are designed to provide comfort whilst controlling your foot in a sound biomechanical position improving alignment, balance and control in the process.

				 </p>
					<button class="btn-cta"> <a style="color:#FFF" href="/products">Check Our Products&nbsp;&nbsp;<i class="im im-arrow-right"></i></a></button>
			</div>
			<div
  data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-delay="500"
  data-sal-easing="ease-out"

			 class="row mediaImg">
				<img src="/assets/img/main/illustrate.png" alt="orthotic-shoes">
			</div>			
		</div>
		<!-- Two -->
		<div class="feature f-2">
			<div
  data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-out"

			 class="row mediaImg">
				<img src="/assets/img/main/women-running-1.png" alt="women-running">
			</div>			
			<div 
  data-sal="slide-up"
  data-sal-delay="500"
  data-sal-duration="1000"
  data-sal-easing="ease-out"

			class="row mediaTxt">
				 <h1 class="f-headings"> Get a tailored recommendation
Take our medial questionnaire to find the best solution for you</h1>
				 <p class="f-para" >Hampton et al communicated that 83% of medical diagnoses were determined just through taking the history of patients without taking a physical examination.</p>

				 <p class="f-para" >This is huge! That’s why through our carefully crafted podiatric biomechanical questionnaire we can tailor the products to your need.</p>
					<button style="width: 360px" class="btn-cta">Take Our Questionnaire&nbsp;&nbsp;<i class="im im-arrow-right"></i></button>
			</div>
		</div>
	</div>
</section>

<section class="actions">
	<div class="container">
		<div class="questionnaire-action">
			<div 

data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-out"
			 class="mediaText">
				<h1><span class="underline">Book</span> Your Free 1v1 Consultation</h1>
				<p> You can book in with our biomechanical medical experts online and have a chat to them to get a clearer insight into your condition and what product would be best for you!</p>
			<button class="btn-cta"><a style="color:#FFF" href="/contact">Book Consultation&nbsp;&nbsp;<i class="im im-arrow-right"></i></a></button> 


			</div>
			<div class="mediaImg">
				<img src="assets/img/main/2.jpeg" alt="2">
			</div>
		</div>
	</div>
</section>

<section
 class="quiz">
	<div style="text-align: center;" class="container">
		<h1>Get a personalized recommendations!</h1>
		<p>Take Our Questionnaier to find the best product for YOU!</p>
		<div class="infographics">
			<div class="svg-one">
				<svg xmlns="http://www.w3.org/2000/svg" width="150px" height="150px" viewBox="0 0 131.414 136.898">
					<g>
					<g>
					<path class="exclamation" d="M90.12,32.985l.389,1.544-1.886.687-1.041-2.322,1.576-1.858,1.045-.381-.7-1.928-2.4.875.554,1.523-2.4.874-.882-2.419,1.575-1.858,3.223-1.174,2.4.409,1.356,3.72-1.576,1.858Zm-.407,7.351-1.171-3.212L91.8,35.937l1.17,3.213Z" fill="#00C8E5"></path>
					<path class="exclamation3" d="M115.888,38.5l.971-3.279,3.324.984-.972,3.279Zm4.7-5.666-.608,1.473-1.923-.571.545-2.485,2.373-.556,1.066.317.583-1.967-2.449-.726-.46,1.553-2.449-.726L118,26.683l2.372-.556,3.288.975,1.687,1.756-1.124,3.8-2.372.556Z" fill="#00C8E5"></path>
					<g>
					<ellipse cx="103.673" cy="59.395" rx="11.234" ry="12.2" fill="#efad93"></ellipse>
					<path d="M89.651,55.032a3.686,3.686,0,0,0,2.105,4.646c1.446.44,3.178-1.043,3.869-3.313s-.15-4.163-1.6-4.6a3.327,3.327,0,0,0-2.514.446A4.955,4.955,0,0,0,89.651,55.032Z" fill="#00C8E5"></path>
					<ellipse cx="92.013" cy="56.019" rx="4.295" ry="2.736" transform="translate(11.631 127.736) rotate(-73.073)" fill="#fff"></ellipse>
					<path d="M95.575,56.019S93.45,57.942,92.668,58.5c-1.614,1.156-2.815,1.854-2.168,2.53,1.061,1.11,1.728-.053,2.4,1.823s1.556.251,1.556.251Z" fill="#efad93"></path>
					<path d="M95.909,55.57c-.384,1.261-.942,2.855-.72,3.825a4.941,4.941,0,0,0,2.554,2.487c1.446.44,3.245-1.2,4.012-3.719s.218-4.921-1.228-5.361A3.845,3.845,0,0,0,95.909,55.57Z" fill="#00C8E5"></path>
					<ellipse cx="97.928" cy="57.066" rx="4.295" ry="2.736" transform="translate(14.822 134.137) rotate(-73.073)" fill="#fff"></ellipse>
					<polygon points="101.782 55.272 107.888 57.066 107.619 58.225 101.48 56.581 101.782 55.272" fill="#00C8E5"></polygon>
					<path d="M96.847,49.706s-.038-4.464,6.826-5.337,11.428,7.28,12.5,8.756,1.63,5.267.7,7.907c0,0-1.433-3.584-3.029-3.665a4.082,4.082,0,0,0-3.542,1.126c-.7.872-.3,2.395-.6,2.539s-3.26-1.3-2.6-4.72a35.911,35.911,0,0,1,.957-4.07.38.38,0,0,0-.18-.454C106.428,50.975,99.822,47.475,96.847,49.706Z" fill="#00C8E5"></path>
					<ellipse cx="113.845" cy="61.032" rx="3.029" ry="3.666" fill="#efad93"></ellipse>
					<path d="M99.835,69.205s-.912,15.437-1.907,17.759,12.121-3.25,12.121-3.25-2.9-9.818-1.625-16.25S99.835,69.205,99.835,69.205Z" fill="#efad93"></path>

					<path d="M98.771,82.163s4.956,1.558,10.13-3.375l3.39,4.728L88.645,114.352l4.549-30.933L99,79.984Z" fill="#00C8E5"></path>
					<path d="M79.823,63.76C85.678,76.205,94.9,81.189,94.9,81.189A6.274,6.274,0,0,1,99,79.984s-1.974.442-3.427,4.082-3.562,21.751-3.562,21.751,2.412-5.426,6.607-13.392A22.525,22.525,0,0,1,109.6,82l-.694-3.207s5.512.386,6.006,3.631.632,4.075,1.185,4.765S129.143,97.75,131.146,104.1s-7.9,23.716-7.9,23.716c.195,2.635-.1,7.515-.1,7.515H81.385C79.921,126.552,84.9,99.52,84.9,99.52,59.624,81.467,56.3,59.043,54.975,51.673s-1.31-18.214-1.31-18.214l18.584-2.952S73.968,51.314,79.823,63.76Z" fill="#fff"></path>
					</g>

					<path class="exclamation2" d="M104.785,25.083a1.115,1.115,0,0,1,.128-.581,1.042,1.042,0,0,1,.44-.369c.125-.064.309-.153.554-.267q1.365-.621,1.365-1.456a1.291,1.291,0,0,0-.451-1.022A1.734,1.734,0,0,0,105.637,21a2.99,2.99,0,0,0-.894.127.907.907,0,0,0-.5.276.82.82,0,0,0-.041.2q-.056.615-.492.615a.45.45,0,0,1-.364-.164.667.667,0,0,1-.135-.438v-.67q0-.375.748-.635a5.57,5.57,0,0,1,1.822-.26,2.678,2.678,0,0,1,1.882.663,2.222,2.222,0,0,1,.724,1.716,1.915,1.915,0,0,1-.588,1.418,5.6,5.6,0,0,1-1.969,1.084v.547a.484.484,0,0,1-.146.365.606.606,0,0,1-.764.011.478.478,0,0,1-.136-.363Zm-.763,2.591a.914.914,0,0,1,.35-.738,1.411,1.411,0,0,1,.926-.288,1.445,1.445,0,0,1,.934.284.955.955,0,0,1,0,1.487,1.442,1.442,0,0,1-.931.287,1.408,1.408,0,0,1-.922-.29A.921.921,0,0,1,104.022,27.674Z" fill="#00C8E5"></path>
					<path class="exclamation4" d="M122.277,47.2a.909.909,0,0,1,.8-.183,1.413,1.413,0,0,1,.8.548,1.464,1.464,0,0,1,.357.91.955.955,0,0,1-1.17.918,1.438,1.438,0,0,1-.8-.553,1.4,1.4,0,0,1-.342-.9A.914.914,0,0,1,122.277,47.2Zm2.506-1.006a1.141,1.141,0,0,1,.536-.26,1.06,1.06,0,0,1,.562.117q.192.089.553.27,1.333.687,1.988.17a1.291,1.291,0,0,0,.524-.986,1.735,1.735,0,0,0-.425-1.174,2.988,2.988,0,0,0-.654-.623.905.905,0,0,0-.525-.221.838.838,0,0,0-.182.091q-.517.336-.787,0a.449.449,0,0,1-.1-.389.678.678,0,0,1,.259-.376l.527-.415c.2-.155.518-.091.963.194a5.58,5.58,0,0,1,1.332,1.27A2.678,2.678,0,0,1,130,45.741a2.227,2.227,0,0,1-.9,1.631,1.918,1.918,0,0,1-1.478.417,5.629,5.629,0,0,1-2.07-.875l-.43.338a.481.481,0,0,1-.377.112.535.535,0,0,1-.348-.215.525.525,0,0,1-.133-.379.474.474,0,0,1,.2-.33Z" fill="#00C8E5"></path>
					</g>
					</g>
					</svg>
					<h1>Not Sure Which <br> Product to pick?</h1>
				</div>
			<div class="svg-two">
				<svg class="filter" version="1.1">
				  <defs>
				    <filter id="gooeyness">
				      <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
				      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10" result="gooey" />
				      <feComposite in="SourceGraphic" in2="gooey" operator="atop" />
				    </filter>
				  </defs>
				</svg>

				<div class="gooey-contain">
					<div id="l-ball" class="ball"></div>
					<div id="m-ball" class="ball"></div>
					<div id="r-ball" class="ball"></div>
					<div id="roll" class="ball roll"></div>
				</div>
					<h1>Take Our Questionnaire</h1>	
			</div>
			<div class="svg-three">
				<div class='checkmark'>
					  <svg class='confetti' height='19' viewBox='0 0 19 19' width='19' xmlns='http://www.w3.org/2000/svg'>
					    <path d='M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z' fill='#00C8E5'>
					  </svg>
					  <svg class='confetti' height='19' viewBox='0 0 19 19' width='19' xmlns='http://www.w3.org/2000/svg'>
					    <path d='M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z' fill='#00C8E5'>
					  </svg>
					  <svg class='confetti' height='19' viewBox='0 0 19 19' width='19' xmlns='http://www.w3.org/2000/svg'>
					    <path d='M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z' fill='#00C8E5'>
					  </svg>
					  <svg class='confetti' height='19' viewBox='0 0 19 19' width='19' xmlns='http://www.w3.org/2000/svg'>
					    <path d='M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z' fill='#00C8E5'>
					  </svg>
					  <svg class='confetti' height='19' viewBox='0 0 19 19' width='19' xmlns='http://www.w3.org/2000/svg'>
					    <path d='M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z' fill='#00C8E5'>
					  </svg>
					  <svg class='confetti' height='19' viewBox='0 0 19 19' width='19' xmlns='http://www.w3.org/2000/svg'>
					    <path d='M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z' fill='#00C8E5'>
					  </svg>
					  <svg class='checkmark__check' height='36' viewBox='0 0 48 36' width='48' xmlns='http://www.w3.org/2000/svg'>
					    <path d='M47.248 3.9L43.906.667a2.428 2.428 0 0 0-3.344 0l-23.63 23.09-9.554-9.338a2.432 2.432 0 0 0-3.345 0L.692 17.654a2.236 2.236 0 0 0 .002 3.233l14.567 14.175c.926.894 2.42.894 3.342.01L47.248 7.128c.922-.89.922-2.34 0-3.23'>
					  </svg>
					  <svg class='checkmark__back' height='115' viewBox='0 0 120 115' width='120' xmlns='http://www.w3.org/2000/svg'>
					    <path d='M107.332 72.938c-1.798 5.557 4.564 15.334 1.21 19.96-3.387 4.674-14.646 1.605-19.298 5.003-4.61 3.368-5.163 15.074-10.695 16.878-5.344 1.743-12.628-7.35-18.545-7.35-5.922 0-13.206 9.088-18.543 7.345-5.538-1.804-6.09-13.515-10.696-16.877-4.657-3.398-15.91-.334-19.297-5.002-3.356-4.627 3.006-14.404 1.208-19.962C10.93 67.576 0 63.442 0 57.5c0-5.943 10.93-10.076 12.668-15.438 1.798-5.557-4.564-15.334-1.21-19.96 3.387-4.674 14.646-1.605 19.298-5.003C35.366 13.73 35.92 2.025 41.45.22c5.344-1.743 12.628 7.35 18.545 7.35 5.922 0 13.206-9.088 18.543-7.345 5.538 1.804 6.09 13.515 10.696 16.877 4.657 3.398 15.91.334 19.297 5.002 3.356 4.627-3.006 14.404-1.208 19.962C109.07 47.424 120 51.562 120 57.5c0 5.943-10.93 10.076-12.668 15.438z' fill='#00C8E5'>
					  </svg>
					</div>
					<h1>Get Best Products For YOU!</h1>
			</div>			
		</div>
			<button style="width: 360px;background:#00C8E5" class="btn-cta">Start Now&nbsp;&nbsp;<i class="im im-arrow-right"></i></button>
	</div>
</section>

<section class="blog info">
	 <h1 class="f-headings">Our Recent Blogs</h1>
		<section   data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-out"
 class="cards-wrapper">
		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
		      <div>
		        <h1>Footwear education at Palm...</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nobis pariatur temporibus nulla quaerat, perspiciatis.</p>
		        <div class="date">6 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>

		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
		      <div>
		        <h1>Good Doctors & Your Future</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nobis pariatur temporibus nulla quaerat, perspiciatis.</p>
		        <div class="date">9 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>
		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
		      <div>
		        <h1>Always Enhance Performance</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nobis pariatur temporibus nulla quaerat, perspiciatis.</p>
		        <div class="date">14 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>
		</section>
		<section
data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-in"
 class="cards-wrapper">
		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
		      <div>
		        <h1>Best Orthotics Options</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore incidunt, facilis. Doloribus possimus cum ipsa earum asperiores id a culpa omnis vero</p>
		        <div class="date">6 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>
		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
		      <div>
		        <h1>Orthotics Starter Package</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore incidunt, facilis. Doloribus possimus cum ipsa earum asperiores id a culpa omnis vero</p>
		        <div class="date">9 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>
		  <div class="card-grid-space">
		    <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
		      <div>
		        <h1>How Can Orthotics Make...</h1>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore incidunt, facilis. Doloribus possimus cum ipsa earum asperiores id a culpa omnis vero</p>
		        <div class="date">14 Oct 2020</div>
		        <div class="tags">
		          <div class="tag">Health</div>
		        </div>
		      </div>
		    </a>
		  </div>
		</section>
</section>

<div class="container"><hr></div>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<!-- Features -->
{% include footer.html %}
