---
layout: default
---
<header  class="h-product">
	<div class="about-nav">
		{% include navbar.html %}		
	</div>
</header>


<section class="single-product">
	<div class="container">
		<h2>Male/Female <i class="im im-angle-right"></i> Running Orthotics</h2> 
		<hr>
	<div class="prod-sec">
		<div class="product-media">
			<img src="/assets/img/products/foot-orthotics-2.jpg" alt="foot-orthotics">
			<span class="price">$99</span>
		</div>
		<div class="product-text">
			<h1>Running foot Orthotics for Sports And athletic activities</h1>
			<hr>
				<p>The purposes of bonsai are primarily contemplation for the viewer, and the pleasant exercise 	of effort and ingenuity for the grower.
					By contrast with other plant cultivation practices, bonsai is not intended for production of food or for medicine. Instead, bonsai practice focuses on long-term cultivation and shaping of one or more small trees growing in a container.
				</p>
				<div class="btn-action" style="display: flex">
			 	<button style="width:100%" class="btn-cta snipcart-add-item"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"

			 	>Add to cart&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
				</div>
		</div>
	</div>
	<div class="product-details-1">
		<div class="btn-prod">
			<button data-role="details-1" class="active" >Details &nbsp;&nbsp;<i class="im im-data-validate"></i></button>
			<button  data-role="details-2">Shipping &nbsp;&nbsp;<i class="im im-rocket"></i></button>
			<button  data-role="details-3">Returns &nbsp;&nbsp;<i class="im im-undo"></i></button>
		</div>
		<div class="details-prod details-1">
			<h2>What Does It Exactly Do?</h2>			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque harum iste recusandae officia iure impedit porro ratione veritatis. Cum quas odit eum consequuntur. Porro fugiat neque enim, laboriosam, harum officiis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quibusdam neque a sed tenetur quisquam, vero nesciunt dolorem consequatur nobis vitae veritatis iusto numquam unde nemo quasi, dicta quos distinctio:</p>
			<ul>
				<li>High Performance Delivered</li>
				<li>Affordable solutions for all your athletic needs.</li>
				<li>Smart, intuitive design for brilliant brands</li>
			</ul>
			<h2>Simple to Use</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nulla explicabo eveniet! Sed, autem! Veniam ipsum ipsam nemo odit, pariatur culpa, cum architecto consequuntur magni eius laborum, totam voluptatibus numquam!</p>
			<h2>effective at any time</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nulla explicabo eveniet! Sed, autem! Veniam ipsum ipsam nemo odit, pariatur culpa, cum architecto consequuntur magni eius laborum, totam voluptatibus numquam!</p>
			<h2>Body Empowering</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nulla explicabo eveniet! Sed, autem! Veniam ipsum ipsam nemo odit, pariatur culpa, cum architecto consequuntur magni eius laborum, totam voluptatibus numquam!</p>
		</div>
		<div class="details-prod details-2">
			<h2>Free Shipping All orders over $87</h2>			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque harum iste recusandae officia iure impedit porro ratione veritatis. Cum quas odit eum consequuntur. Porro fugiat neque enim, laboriosam, harum officiis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quibusdam neque a sed tenetur quisquam, vero nesciunt dolorem consequatur nobis vitae veritatis iusto numquam unde nemo quasi, dicta quos distinctio:</p>
			<h2>Simplest and most effective pain reducer</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nulla explicabo eveniet! Sed, autem! Veniam ipsum ipsam nemo odit, pariatur culpa, cum architecto consequuntur magni eius laborum, totam voluptatibus numquam!</p>
			<h2>Quick and easy</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nulla explicabo eveniet! Sed, autem! Veniam ipsum ipsam nemo odit, pariatur culpa, cum architecto consequuntur magni eius laborum, totam voluptatibus numquam!</p>
		</div>
		<div class="details-prod details-3">
			<h2>Our No Question Asked Money Back Guarantee</h2>			
			<p>We offer a risk-free 30 day Money-Back Guarantee on our products. If you do not achieve what you wanted, simply contact our customer experience team and receive your money-back:</p>
			<ul>
				<li>well developed product</li>
				<li>Easy to use and no pain</li>
				<li>Affordable solutions for all your athletic needs.</li>
			</ul>
			<h2>We guarantee visible results</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nulla explicabo eveniet! Sed, autem! Veniam ipsum ipsam nemo odit, pariatur culpa, cum architecto consequuntur magni eius laborum, totam voluptatibus numquam!</p>
		</div>
	</div>
	</div>
</section>
<section class="prod-suggestions single  all-products">
		<div class="container">
			<h1>Other Orthotics Product You Might Like!</h1>
		</div>
		<div class="container">
		<div class="row second">
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/heel-lift.jpg" alt="heel-lift">
				</div>
				<div class="textMedia">
					<h1>Heel Lifts</h1>
 					<span class="price">$11.99</span>
					<div class="btn-action">
					 	<button class="btn-cta"><a style="color:#FFF" href="/product">See&nbsp;&nbsp; More</a></button>
											 	<button class="snipcart-add-item btn-cta bubbly-button"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"
					 	><i class="im im-plus"></i>&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>

					</div>
				</div>
			</div>			
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/foot-orthotics-1.jpg" alt="therabands-for-weak-glutes">
				</div>
				<div class="textMedia">
					<h1>Footwear Orthotics</h1>
 					<span class="price">$47</span>
					<div class="btn-action">
					 	<button class="btn-cta"><a style="color:#FFF" href="/product">See&nbsp;&nbsp; More</a></button>
											 	<button class="snipcart-add-item btn-cta bubbly-button"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"
					 	><i class="im im-plus"></i>&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>

					</div>
				</div>
			</div>
			</div>	
		</div>
</section>
<div class="container"><hr></div>
<div hidden id="snipcart"
	 data-api-key="ZjQ0OGY4ODMtNWY0Mi00MWU1LTk5OTUtYmU4YTJmNGNlZDZmNjM3MDYxNTk5ODE2MDI5OTQw">
 	
</div>
{% include cartButton.html %}

{% include footer.html %}