---
layout: default
---

<header class="product-p">
	<div class="offer"><p class="uppercase">Free shipping on all orders over $89 AUD</p></div>
	{% include navbar.html %}	
	<div class="wrapper">
		<main>
			<div class="text-holder">
			 	<div class="typing">   
			 		 <!-- <span>Our Products</span> -->
			 		<h1><span class="underline">Valgus</span>, Pre Made Tailor <br> Orthotics Supplies</h1>
			 		<p>pre made online orthotic store which we tailor the orthotic <br> to suit the customers needs through an extensive online questionnaire</p>
		 		<button class="btn-cta">Explore&nbsp;&nbsp; Products! &nbsp;&nbsp; <i class="im im-arrow-down"></i></button>	
			 	</div>
			</div>
			<div class="header-media">
				<img src="/assets/img/main/cushen.jpeg" alt="cushen">
				<img src="/assets/img/main/product-1.png" alt="product-1">
				<img src="/assets/img/main/product-2.png" alt="product-2">
			</div>
		 </main>
	</div> 
</header> 
<section class="prods">
	<div class="container">
		<div class="row first">
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/massage-ball0.jpeg" alt="spine">
				</div>
				<div class="textMedia">
					<h1>Massage Ball Trigger Point Massager Stress Relief Foot Roller Relax</h1>
					<p>The Massage balls come in a durable mesh tote bag, making the balls portable and easy to hold them together while seated or standing. This makes Massage easy to do in your office.</p>
					<h2><span class="underline">FEATURES:</span></h2>
					<ul>
						<li>
							<i class="im im-check-mark-circle-o"></i> <span><b class="uppercase">Perfect density, perfect shape:</b> These are the best massage balls on the market. Look around, there is no comparison!</span>
						</li>
						<li>
							<i class="im im-check-mark-circle-o"></i> <span><b>ON-DEMAND PAIN RELIEF:</b> The Massage Balls have a unique shape and density that penetrates deep tissue and multiple layers of muscles.</span>
						</li>
						<li>
							<i class="im im-check-mark-circle-o"></i> <span><b>DEEP PRESSURE, TARGETED:</b> The texture of the Massage Balls will allow you to precisely target a variety of aches and pains throughout your body.</span>
						</li>				
					</ul>
					<h2>Price: $56 AUD</h2>
					<button class="btn-cta">BUY NOW &nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
				</div>
			</div>
		</div>
		<div class="row second">
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/theraband.jpeg" alt="theraband">
				</div>
				<div class="textMedia">
					<h1>TheraBands</h1>
					<p>Elevate Performance. Accelerate Recovery. Whether you're recovering from an injury or looking to up your game, we have the tools to get you back to greatness.</p>
					<h2>Price: $47 AUD</h2>
					<button class="btn-cta">BUY NOW &nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
				</div>
			</div>			
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/cushen-1.jpeg" alt="theraband">
				</div>
				<div class="textMedia">
					<h1>Shoe Cushen</h1>
					<p>Elevate Performance. Accelerate Recovery. Whether you're recovering from an injury or looking to up your game, we have the tools to get you back to greatness.</p>
					<h2>Price: $44 AUD</h2>
					<button class="btn-cta">BUY NOW &nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
				</div>
			</div>
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/spine.jpeg" alt="spine">
				</div>
				<div class="textMedia">
					<h1>Cushen</h1>
					<p>Elevate Performance. Accelerate Recovery. Whether you're recovering from an injury or looking to up your game, we have the tools to get you back to greatness.</p>
					<h2>Price: $47 AUD</h2>
					<button class="btn-cta">BUY NOW &nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
				</div>
			</div>			
		</div>	
		<div class="row second">
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/toddler.jpeg" alt="toddler">
				</div>
				<div class="textMedia">
					<h1>Toddler Orthotics kit</h1>
					<p>Elevate Performance. Accelerate Recovery. Whether you're recovering from an injury or looking to up your game, we have the tools to get you back to greatness.</p>
					<h2>Price: $99 AUD</h2>					
					<button class="btn-cta">BUY NOW &nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
				</div>
			</div>			
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/child-massage-ball.jpeg" alt="child-massage-ball">
				</div>
				<div class="textMedia">
					<h1>Child Kit</h1>
					<p>Elevate Performance. Accelerate Recovery. Whether you're recovering from an injury or looking to up your game, we have the tools to get you back to greatness.</p>
					<h2>Price: $47 AUD</h2>
					<button class="btn-cta">BUY NOW &nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
				</div>
			</div>			
		</div>

	</div>
</section>

<section class="actions">
	<div class="container">
		<div class="questionnaire-action">
			<div class="mediaImg">
				<img src="assets/img/main/1.jpeg" alt="1">
			</div>
			<div class="mediaText">
				<h1>Not Sure? Take Our <span class="underline">Questionaire</span></h1>
				<p>through our carefully crafted podiatric biomechanical questionnaire we can tailor the products to  your needs (And the more feedback we get from you we can make the questions even more specific
				making the product better and along with your outcome).</p>
					<button class="btn-cta">Take Questionaire&nbsp;&nbsp;<i class="im im-arrow-right"></i></button>
			</div>
		</div>
		<div class="questionnaire-action">
			<div class="mediaText">
				<h1><span class="underline">Book</span> Your Free 1v1 Consultation</h1>
				<p>through our carefully crafted podiatric biomechanical questionnaire we can tailor the products to  your needs (And the more feedback we get from you we can make the questions even more specific
				making the product better and along with your outcome).</p>
					<button class="btn-cta">Book Consultation&nbsp;&nbsp;<i class="im im-arrow-right"></i></button>
			</div>
			<div class="mediaImg">
				<img src="assets/img/main/2.jpeg" alt="2">
			</div>
		</div>
		<hr>
	</div>
</section>
{% include footer.html %}