---
layout: default
---

<header style="background: url(assets/img/main/sportx.jpg')" class="product-p">
	{% include navbar.html %}	
	<div class="wrapper">
		<main>
			<div 
data-sal="slide-right"
  data-sal-duration="500"
  data-sal-easing="ease-out"

			 class="text-holder">
			 	<div class="typing">   
			 		 <!-- <span>Our Products</span> -->
			 		<h1><span class="underline">Valgus</span>, Pre Made Tailor <br> Orthotics Supplies</h1>
			 		<p>pre made online orthotic store which we tailor the orthotic <br> to suit the customers needs through an extensive online questionnaire</p>
		 		<button class="btn-cta">Explore&nbsp;&nbsp; Products! &nbsp;&nbsp; <i class="im im-arrow-down"></i></button>	

</i></button>	
			 	</div>
			</div>
			<div class="header-media">
				<img src="/assets/img/main/cushen.jpg" alt="cushen">
				<img src="/assets/img/main/product-1.png" alt="product-1">
				<img src="/assets/img/main/product-2.png" alt="product-2">
			</div>
		 </main>
	</div> 
</header> 
<section class="prods">
	<div class="container">
		<div class="row first">
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/running-orthotics.jpg" alt="running-orthotics">
				</div>
				<div class="textMedia">
					<h1>Sports And Running orthotics Trigger Point Stress Relief Foot Relax</h1>
					<p>The Massage balls come in a durable mesh tote bag, making the balls portable and easy to hold them together while seated or standing. This makes Massage easy to do in your office.</p>
					<h2><span class="underline">FEATURES:</span></h2>
					<ul data-sal="slide-up"
  data-sal-duration="500"
  data-sal-easing="ease-in">
						<li>
							<i class="im im-check-mark-circle-o"></i> <span><b class="uppercase">Perfect density, perfect shape:</b> These are the best massage balls on the market. Look around, there is no comparison!</span>
						</li>
						<li>
							<i class="im im-check-mark-circle-o"></i> <span><b>ON-DEMAND PAIN RELIEF:</b> The Massage Balls have a unique shape and density that penetrates deep tissue and multiple layers of muscles.</span>
						</li>
						<li>
							<i class="im im-check-mark-circle-o"></i> <span><b>DEEP PRESSURE, TARGETED:</b> The texture of the Massage Balls will allow you to precisely target a variety of aches and pains throughout your body.</span>
						</li>				
					</ul>
					<h2>Price: $56 AUD</h2>
								 	<button style="width:80%" class="btn-cta bubbly-button snipcart-add-item"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"

			 	>Add to cart&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>

				</div>
			</div>
		</div>
		<div 
data-sal="slide-up"
  data-sal-duration="500"
  data-sal-easing="ease-in"
		class="row second">
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/foot-orthotics-2.png" alt="children-orthotics">
				</div>
				<div class="textMedia">
					<h1>Arch Orthotics</h1>
					<p>Elevate Performance. Accelerate Recovery. Whether you're recovering from an injury or looking to up your game, we have the tools to get you back to greatness.</p>
					<h2>Price: $44 AUD</h2>
								 	<button style="width:100%" class="btn-cta bubbly-button snipcart-add-item"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"

			 	>Add to cart&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>

				</div>
			</div>
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/orthotic-shoes.jpeg" alt="orthotic-shoes">
				</div>
				<div class="textMedia">
					<h1>Footwear kit</h1>
					<p>Elevate Performance. Accelerate Recovery. Whether you're recovering from an injury or looking to up your game, we have the tools to get you back to greatness.</p>
					<h2>Price: $47 AUD</h2>
								 	<button style="width:100%" class="btn-cta bubbly-button snipcart-add-item"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"

			 	>Add to cart&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>

				</div>
			</div>			
		</div>	
		<div 
data-sal="slide-up"
  data-sal-duration="500"
  data-sal-easing="ease-in"
		class="row second">
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/toddler.jpeg" alt="toddler">
				</div>
				<div class="textMedia">
					<h1>Toddler Orthotics kit</h1>
					<p>Elevate Performance. Accelerate Recovery. Whether you're recovering from an injury or looking to up your game, we have the tools to get you back to greatness.</p>
					<h2>Price: $99 AUD</h2>					
								 	<button style="width:100%" class="btn-cta bubbly-button snipcart-add-item"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"

			 	>Add to cart&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>

				</div>
			</div>			
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/child-orthotics.jpg" alt="child-orthotics">
				</div>
				<div class="textMedia">
					<h1>Child Kit</h1>
					<p>Elevate Performance. Accelerate Recovery. Whether you're recovering from an injury or looking to up your game, we have the tools to get you back to greatness.</p>
					<h2>Price: $47 AUD</h2>
								 	<button style="width:100%" class="btn-cta bubbly-button snipcart-add-item"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"

			 	>Add to cart&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>

				</div>
			</div>			
		</div>

	</div>
</section>

<section class="actions">
	<div class="container">
		<div class="questionnaire-action">
			<div class="mediaImg">
				<img src="assets/img/main/1.jpeg" alt="1">
			</div>
			<div 

data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-in"

			class="mediaText">
				<h1>Not Sure? Take Our <span class="underline">Questionaire</span></h1>
				<p>through our carefully crafted podiatric biomechanical questionnaire we can tailor the products to  your needs (And the more feedback we get from you we can make the questions even more specific
				making the product better and along with your outcome).</p>
					<button class="btn-cta">Take Questionaire&nbsp;&nbsp;<i class="im im-arrow-right"></i></button>
			</div>
		</div>
		<div class="questionnaire-action">
			<div 

data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-out"
			 class="mediaText">
				<h1><span class="underline">Book</span> Your Free 1v1 Consultation</h1>
				<p>through our carefully crafted podiatric biomechanical questionnaire we can tailor the products to  your needs (And the more feedback we get from you we can make the questions even more specific
				making the product better and along with your outcome).</p>
			<button class="btn-cta"><a style="color:#FFF" href="/contact">Book Consultation&nbsp;&nbsp;<i class="im im-arrow-right"></i></a></button>

			</div>
			<div class="mediaImg">
				<img src="assets/img/main/2.jpeg" alt="2">
			</div>
		</div>
		<hr>
	</div>
</section>
<div hidden id="snipcart"
	 data-api-key="ZjQ0OGY4ODMtNWY0Mi00MWU1LTk5OTUtYmU4YTJmNGNlZDZmNjM3MDYxNTk5ODE2MDI5OTQw">
</div>

{% include cartButton.html %}


{% include footer.html %}