---
layout: default
---

<header class="store bgStore">
	{% include navbar.html %}	
	<div class="wrapper">
		<main>
			<div class="textStore">
			     <h1 class="rev-block">
			          <span> <span class="underline">Enhance</span> Athletic Performance</span>
			     </h1>
			     <h1 class="rev-block" id="onemore">
			          <span><span class="underline">Reduce</span> The Pain</span>
			     </h1>
		 		<button class="btn-cta rev-block appear-text">Products! &nbsp;&nbsp; <i class="im im-angle-down"></i></button>	
			</div>
		 </main>
	</div> 
</header> 

<section class="all-products">
	<div class="container">
			<h1>Shop by condition!</h1>
		<div 
data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-out"
		class="row second">
			{% for product in site.categories.product %}	
			<div class="prod">
				<div class="media">
					<img src=" {{product.prodImg}} " alt="foot-orthotics">
				</div>
				<div class="textMedia">
					<h1>{{product.title}}</h1>
					<span class="price">${{product.price}} </span>
					<div class="btn-action">
					 	<button class="btn-cta"><a style="color:#FFF" href=" {{product.url}} ">See&nbsp;&nbsp; More</a></button>
						<button class="snipcart-add-item btn-cta bubbly-button"
							    data-item-id="{{product.idx}}"
							    data-item-price="{{product.price}}"
							    data-item-url="/store"
							    data-item-description="{{product.paragraph}}"
							    data-item-image="{{product.prodImg}}" 
							    data-item-name="{{product.title}}"
					 	><i class="im im-plus"></i>&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
					</div>
				</div>
			</div>			

			{% endfor %}
						
		</div>	


</section>
<div class="container"><hr></div>
<div hidden id="snipcart"
	 data-api-key="ZjQ0OGY4ODMtNWY0Mi00MWU1LTk5OTUtYmU4YTJmNGNlZDZmNjM3MDYxNTk5ODE2MDI5OTQw">
</div>

{% include cartButton.html %}

{% include footer.html %}