---
layout: default
---

<header class="store bgStore">
	{% include navbar.html %}	
	<div class="wrapper">
		<main>
			<div class="textStore">
			     <h1 class="rev-block">
			          <span> <span class="underline">Enhance</span> Athletic Performance</span>
			     </h1>
			     <h1 class="rev-block" id="onemore">
			          <span><span class="underline">Reduce</span> The Pain</span>
			     </h1>
		 		<button class="btn-cta rev-block appear-text">Products! &nbsp;&nbsp; <i class="im im-angle-down"></i></button>	
			</div>
		 </main>
	</div> 
</header> 

<section class="all-products">
	<div class="container">
			<h1>Shop by condition!</h1>
		<div 
data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-out"
		class="row second">
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/foot-orthotics-2.jpg" alt="foot-orthotics">
				</div>
				<div class="textMedia">
					<h1>Running Orthotics</h1>
					<span class="price">$99</span>
					<div class="btn-action">
					 	<button class="btn-cta"><a style="color:#FFF" href="/product">See&nbsp;&nbsp; More</a></button>
											 	<button class="snipcart-add-item btn-cta bubbly-button"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"
					 	><i class="im im-plus"></i>&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
					 	
					</div>
				</div>
			</div>			

			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/foot-orthotics-2.jpg" alt="foot-orthotics">
				</div>
				<div class="textMedia">
					<h1>Running Orthotics</h1>
					<span class="price">$99</span>
					<div class="btn-action">
					 	<button class="btn-cta"><a style="color:#FFF" href="/product">See&nbsp;&nbsp; More</a></button>
											 	<button class="snipcart-add-item btn-cta bubbly-button"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"
					 	><i class="im im-plus"></i>&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
					 	
					</div>
				</div>
			</div>			
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/theraband-1.jpg" alt="therabands-for-weak-glutes">
				</div>
				<div class="textMedia">
					<h1>Theraband for glutes</h1>
 					<span class="price">$99</span>
					<div class="btn-action">
					 	<button class="btn-cta"><a style="color:#FFF" href="/product">See&nbsp;&nbsp; More</a></button>
											 	<button class="snipcart-add-item btn-cta bubbly-button"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"
					 	><i class="im im-plus"></i>&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
					 	
					</div>
				</div>
			</div>
		</div>	
		<div
data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-out"

		 class="row second" style="margin-top:20%">
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/massage-ball-1.jpg" alt="massage-ball">
				</div>
				<div class="textMedia">
					<h1>Massage Ball</h1>
					<span class="price">$9.99</span>
					<div class="btn-action">
					 	<button class="btn-cta"><a style="color:#FFF" href="/product">See&nbsp;&nbsp; More</a></button>
											 	<button class="snipcart-add-item btn-cta bubbly-button"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"
					 	><i class="im im-plus"></i>&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
					 	
					</div>
				</div>
			</div>			

			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/massage-ball-1.jpg" alt="massage-ball">
				</div>
				<div class="textMedia">
					<h1>Massage Ball</h1>
					<span class="price">$9.99</span>
					<div class="btn-action">
					 	<button class="btn-cta"><a style="color:#FFF" href="/product">See&nbsp;&nbsp; More</a></button>
											 	<button class="snipcart-add-item btn-cta bubbly-button"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"
					 	><i class="im im-plus"></i>&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
					 	
					</div>
				</div>
			</div>			
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/foot-orthotics-1.jpg" alt="therabands-for-weak-glutes">
				</div>
				<div class="textMedia">
					<h1>Footwear Orthotics</h1>
 					<span class="price">$47</span>
					<div class="btn-action">
					 	<button class="btn-cta"><a style="color:#FFF" href="/product">See&nbsp;&nbsp; More</a></button>
											 	<button class="snipcart-add-item btn-cta bubbly-button"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"
					 	><i class="im im-plus"></i>&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
					 	
					</div>
				</div>
			</div>
		</div>
		<div
data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-out"

		 class="row second" style="margin-top:20%">
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/sport-orthotics.jpg" alt="sport-orthotics">
				</div>
				<div class="textMedia">
					<h1>Sport Orthotics</h1>
					<span class="price">$199</span>
					<div class="btn-action">
					 	<button class="btn-cta"><a style="color:#FFF" href="/product">See&nbsp;&nbsp; More</a></button>
											 	<button class="snipcart-add-item btn-cta bubbly-button"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"
					 	><i class="im im-plus"></i>&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
					 	
					</div>
				</div>
			</div>			

			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/sport-orthotics.jpg" alt="sport-orthotics">
				</div>
				<div class="textMedia">
					<h1>Sport Orthotics</h1>
					<span class="price">$199</span>
					<div class="btn-action">
					 	<button class="btn-cta"><a style="color:#FFF" href="/product">See&nbsp;&nbsp; More</a></button>
											 	<button class="snipcart-add-item btn-cta bubbly-button"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"
					 	><i class="im im-plus"></i>&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
					 	
					</div>
				</div>
			</div>			
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/foot-orthotics.jpg" alt="foot-orthotics">
				</div>
				<div class="textMedia">
					<h1>Everyday Orthotics</h1>
 					<span class="price">$399</span>
					<div class="btn-action">
					 	<button class="btn-cta"><a style="color:#FFF" href="/product">See&nbsp;&nbsp; More</a></button>
											 	<button class="snipcart-add-item btn-cta bubbly-button"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"
					 	><i class="im im-plus"></i>&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
					 	
					</div>
				</div>
			</div>
		</div>		
		<div 
data-sal="slide-up"
  data-sal-duration="1000"
  data-sal-easing="ease-out"

		class="row second" style="margin-top:20%">
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/children-orthotics-2.jpg" alt="children-orthotics-2">
				</div>
				<div class="textMedia">
					<h1>Toddler Orthotics</h1>
					<span class="price">$49</span>
					<div class="btn-action">
					 	<button class="btn-cta"><a style="color:#FFF" href="/product">See&nbsp;&nbsp; More</a></button>
											 	<button class="snipcart-add-item btn-cta bubbly-button"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"
					 	><i class="im im-plus"></i>&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
					 	
					</div>
				</div>
			</div>			
			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/heel-lift.jpg" alt="heel-lift">
				</div>
				<div class="textMedia">
					<h1>Heel Lifts</h1>
 					<span class="price">$11.99</span>
					<div class="btn-action">
					 	<button class="btn-cta"><a style="color:#FFF" href="/product">See&nbsp;&nbsp; More</a></button>

					 	<button class="snipcart-add-item btn-cta bubbly-button"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"
					 	><i class="im im-plus"></i>&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
					</div>
				</div>
			</div>

			<div class="prod">
				<div class="media">
					<img src="/assets/img/products/heel-lift.jpg" alt="heel-lift">
				</div>
				<div class="textMedia">
					<h1>Heel Lifts</h1>
 					<span class="price">$11.99</span>
					<div class="btn-action">
					 	<button class="btn-cta"><a style="color:#FFF" href="/product">See&nbsp;&nbsp; More</a></button>

					 	<button class="snipcart-add-item btn-cta bubbly-button"
							    data-item-id="heel-lifts"
							    data-item-price="79.99"
							    data-item-url="/store"
							    data-item-description="High-quality Orthotics Heel Lifts."
							    data-item-image="/assets/img/products/heel-lift.jpg"
							    data-item-name="Heel Lifts"
					 	><i class="im im-plus"></i>&nbsp;&nbsp;<i class="im im-shopping-cart"></i></button>
					</div>
				</div>
			</div>
		</div>							
	</div>
</section>
<div class="container"><hr></div>
<div hidden id="snipcart"
	 data-api-key="ZjQ0OGY4ODMtNWY0Mi00MWU1LTk5OTUtYmU4YTJmNGNlZDZmNjM3MDYxNTk5ODE2MDI5OTQw">
</div>

{% include cartButton.html %}

{% include footer.html %}