
<script type="text/javascript" src="{{site.url}}/assets/js/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/barba.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/typed.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/database.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/questionnaire.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/lightzoom.min.js"></script>
<script src="https://cdn.snipcart.com/themes/v3.0.0/default/snipcart.js"></script>
<script src="https://mciastek.github.io/sal/dist/sal.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/main.js"></script>
<!-- Start of valgus Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=b9dc82e0-d49e-4f87-9a33-b60ad722fe12"> </script>
<!-- End of valgus Zendesk Widget script -->










