<!-- The core Firebase JS SDK is always required and must be listed first -->
<!-- <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase-app.js"></script>
 -->
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<!-- <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
 -->
<!-- <script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyC4Vd_vg7z7cc6Eyi108KoTlD_WdvEAqR4",
    authDomain: "valgus.firebaseapp.com",
    databaseURL: "https://valgus.firebaseio.com",
    projectId: "valgus",
    storageBucket: "valgus.appspot.com",
    messagingSenderId: "1020821750989",
    appId: "1:1020821750989:web:1766e5fb5108d9d892d584",
    measurementId: "G-CSKWYQKM4V"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script> -->

<script type="text/javascript" src="{{site.url}}/assets/js/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/barba.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/typed.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/database.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/questionnaire.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/main.js"></script>