<nav class="cl-effect-12">
	<div class="container">
		<div class="row">
			<div class="logo">
				<a href="#"><img src="/assets/img/valgus-logo.png" alt="valgus-logo"></a>	
			</div>			
			<ul class="ul-nav">
				<li><a href="/index" data-hover="Home">Home</a></li>
				<li class="productsLink">
					<a href="/products" data-hover="Products">Products</a>
				</li>
				<li><a href="/questionnaire" data-hover="questionnaire">Questionnaire</a></li>
				<li><a href="/blog" data-hover="Blog">Blog</a></li>
				<li><a href="#" data-hover="FAQ">FAQ</a></li>
				<li><a href="#" data-hover="Contact">Contact</a></li>
			</ul>
		</div>
	</div>
	<div class="productDrop">
		<ul class="kids">
			<li><h2>Kids</h2></li>							
			<li><a href="#">In toeing</a></li>
			<li><a href="#">Out toeing </a></li>
			<li><a href="#">Sever’s disease (posterior base of heel) </a></li>
			<li><a href="#">Kohler’s Disease (Navicular) </a></li>
			<li><a href="#">Os good Schatters (Knee)  </a></li>
			<li><a href="#">Leg-Calf Perthes (hip) </a></li>
			<li><a href="#">Frequent tripping</a></li>
			<li><a href="#">Poor biomechanics</a></li>
			<li><a href="#">Knocked knees </a></li>
			<li><a href="#">Ankle issues</a></li>
			<li><a href="#">Excessive pronation </a></li>
		</ul>												

		<ul class="knee">
			<li><h2>Knee</h2></li>							
			<li><a href="#"> Medial ligament/ meniscus </a></li>
			<li><a href="#"> Post ACL  </a></li>
			<li><a href="#"> Lateral ligament/ meniscus  </a></li>
			<li><a href="#"> ITB Syndrome </a></li>
			<li><a href="#"> Patella Femoral Syndrome </a></li>
		</ul>
		<ul class="hip">
			<li><h2>Hip</h2></li>
			<li><a href="#"> Anterior Pelvic tilt </a></li>
			<li><a href="#"> Hip Bursitis </a></li>
		</ul>
		<ul class="foot">
			<li><h2>Foot</h2></li>
			<li><a href="#">Plantar fasciitis</a></li>
			<li><a href="#">Flat feet</a></li>
			<li><a href="#">Tib post tendinitis</a></li>
			<li><a href="#">Baxter’s nerve entrapment</a></li>
			<li><a href="#">Achillies Tendinitis</a></li>
			<li><a href="#">Haglands Deformity</a></li>
			<li><a href="#">Os Trigonum</a></li>
			<li><a href="#">Tarsal Tunnel Syndrome</a></li>
			<li><a href="#">ATFL</a></li>
			<li><a href="#">Sinus Tarsi Syndrome</a></li>
			<li><a href="#">Peroneal tendinitis</a></li>
			<li><a href="#">Cuboid Syndrome</a></li>
			<li><a href="#">Peroneal and sural nerve entrapment</a></li>
			<li><a href="#">Metatasalgia</a></li>
			<li><a href="#">Morton’s Neuroma </a></li>
			<li><a href="#">Lis Frank ligament strain</a></li>
			<li><a href="#">Tarso metatarso joint nerve impingement</a></li>
			<li><a href="#">HAV or bunion</a></li>
			<li><a href="#">Sesamoiditis</a></li>
			<li><a href="#">Hallux limitus/rigidus</a></li>
			<li><a href="#">Turf Toe</a></li>
			<li><a href="#">Anterior Shin Splints/ Tib Ant Tendinitis</a></li>
		</ul>
		<ul class="lower-back">
			<li><h2>Lower Back</h2></li>							
			<li><a href="#"> Sacro iliac joint dysfuction</a></li>
			<li><a href="#"> Scoliosis</a></li>
			<li><a href="#"> Lower back pain </a></li>
		</ul>
	</div>	
</nav>
