---
layout: default
---

<header>
	<div class="offer"><p class="uppercase">Free shipping on all orders over $89 AUD</p></div>
	{% include navbar.html %}	
	<div class="wrapper">
	    <video autoplay loop muted class="wrapper__video">
		      <source src="https://srv-file6.gofile.io/download/YJ4lur/valgus-video.mp4" type="video/mp4">
		 </video>
		<main>
		 	<div class="typing">
		 		<h1>What Your <span></span> Needs</h1>
		 	</div>
	 		<button class="btn-cta">Order Now! &nbsp;&nbsp; <i class="im im-shopping-cart"></i></button>
		 </main>
	</div> 
</header>

<!-- Features -->

<section class="features">
	<div class="container">
		<div class="feature">
			<div class="row mediaTxt">
				 <h1 class="f-headings">human engineering</h1>
				 <p class="f-para" >Orthotics are designed to provide comfort whilst controlling your foot in a sound
					biomechanical position improving alignment, balance and control in the process.</p>
				 <p class="f-para" >Everyday external and internal forces/factors + an unwarrented genetic pre disposition of
					the bodies structure = compromised biomechanical engineering of your legs and feet which
					can cause specific conditions, pain and dysfunction.</p>
					<button class="btn-cta">Check Our Products&nbsp;&nbsp;<i class="im im-arrow-right"></i></button>
			</div>
			<div class="row mediaImg"></div>			
		</div>
	</div>
</section>

	
<!-- Features -->
{% include footer.html %}
