p{
  // margin: 0 0 20px 0;
  color: #232323;
}

a{
  text-decoration:none;
  color:#000;
}

em{
  font-style: italic;
}

strong{
  font-weight: bold;
}

hr{
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

.page-swipe{
  height: 100vh;
  width:100%;
  background:#000;
  position: fixed;
  z-index: 9;
  top:0;
  left:-100%;
}

/* Links
  ------------------------------------  */
// a
//   color: $accent
//   text-decoration: none
//   outline: 0

// a:hover, a:focus
//   color: lighten($accent, 20%)


 
/* Selection colors (easy to forget)
  ------------------------------------  */

// ::selection
//   background: $selectionColor

// ::-moz-selection
//   background: $selectionColor

// img::selection
//   background: transparent

// img::-moz-selection
//   background: transparent

// body
//   -webkit-tap-highlight-color: $selectionColor

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

/* Basic Styles
  ------------------------------------  */
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding-left:20px;
  padding-right:20px;
  position:relative;
}

*,*:before,*:after{
  box-sizing: border-box;
}

body{
  font-size: 14px;
  line-height: 1.6;
  // height: 7000px;
  overflow-x:hidden;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

// reseting lists

ul, ol{ 
  padding: 0;
  margin: 0;  
}

ul{
  list-style: none;
}

// .row{
//     margin-top: 100px;
// }

section {
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 100px;
}

// Typogrophy 
.uppercase{
  text-transform: uppercase;
}
.lowercase{
  text-transform: lowercase; 
}

// blue underline
.underline{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      z-index: 9;
      left: 0;
      top: 70%;
      transform: translateY(209%);
      height: 12%;
      width: 100%;
      background: $accent;
      background-repeat: no-repeat;
      opacity: 1;
      transition: all 0.3s ease-in-out;          
    }
}

fieldset{
  padding: 0;
  margin: 0;
  border: none;
}

.btn-cta{
      transition: .3s;
      width:300px;
      margin:0 auto;
      margin-top:5%;
      padding:20px;
      font-size:1.4em;
      font-weight:700;
      text-transform: uppercase;
      background:$cta;
      outline:none;
      border:3px solid #FFF;
      cursor:pointer;
      color:#FFF;
      line-height: 1.5;
      i{
        font-size:1.1em;
        // animation:tilt 3s ease infinite ;
      }      
      &:hover{
        background:$accent;
        color:#FFF;
      }

}

.f-headings{
   text-transform:capitalize;
   font-size:2.8em
}

.f-para{
   color:$textc;
   font-size: 1.2em;
   line-height: 1.8;
   text-align: justify;
}