.main-h{
	.cl-effect-12 .ul-nav a.linq::before, .cl-effect-12 .ul-nav a.linq::after{
		border:2px solid #FFF;
	}	

}
header{
	background:url('../img/main/sportx.jpg');
	background-size:cover;
	position: relative;
	.wrapper{
	  width: 100%;
	  height: 90vh;
	  position: relative;
	  overflow: hidden;
	}
	main{
		display: flex;
		justify-content: space-between;
		height: 100%;
		.header-media{
			height: 100%;
			flex-basis: 50%;
			position: relative;
			img{
				position: absolute;
				width:100%;
				height:80%;
				display: none;
			}
		}
	.text-holder{
	    position: absolute;
	    z-index: 9;
	    width: 100%;
	    left: 81%;
	    top: 15%;
	    transform: translateX(-50%);

		.typing{
			// padding-left:10%;
			> span{
				font-size:1.2em;
			}
		}
		h1{
			position: relative;
			text-align: left !important;
			margin: 0em 0 1em;
			height:90px;
			overflow:hidden;
			color:#FFF !important;
			span{
				position: absolute;
				transform:translateY(80%);
				margin-left:15px;
			}
		}
		p{
			color:$textc;
			font-size:1.2em;
			margin-bottom:1.6em;
		}
	}

		.typing{
			h1{
				text-align: center;
				color:#000;
				font-size: 4em;
			}
		}
	}

}

.main-h{
	.textStore h1:first-child{
		top:25% !important;
	}
	.textStore{
		button{
			margin:0;
		    margin-left: 9% !important;
		    margin-top:7% !important;
		    border: none;
		    padding: 25px;
		    background: rgb(28,27,27) !important;
		    background: linear-gradient(90deg, rgba(28,27,27,1) -9%, rgba(69,158,247,1) 84%) !important;	
			left:42% !important;
		}

	}
}
.features{
	.row{
		display: block !important;
	}
	.feature{
		height: 600px;
		display: flex;
		.mediaTxt{
			flex-basis: 50%;
		}
		.mediaImg{
			flex-basis: 50%;
			margin-left:10%;
			img{
				width:100%;
				height:100%;
			}
		}
		.mediaImg:last-child{
			flex-basis: 62% !important;

		}
	}
	.f-2{
		margin-top:15%;
		margin-bottom:10%;
		.mediaImg{
			margin-right: 10%;
		}
	}
}

.quiz{
	> h1{
		font-size:3em
	}
	p{
	    color: #9E9E9E;
	    font-size: 1.5em;		
	}
	
}
.infographics{
	
	display: flex;
    justify-content: space-between;	
	.svg-one{
		h1{
			margin-top:8%
		}
		svg {
		  width: 350px;
		  height: 350px;
	 	  transform: translate(-35%, 4%);
		}
		.exclamation {
		  animation-duration: 4s;
		  animation-delay: 1s;
		  animation-fill-mode: both;
		  animation-timing-function: ease-in-out;
		  animation-name: exclaim;
		  animation-iteration-count: infinite;
		  transform: scale(1);
		}

		.exclamation2 {
		  animation-duration: 4s;
		  animation-delay: 2s;
		  animation-fill-mode: both;
		  animation-timing-function: ease-in-out;
		  animation-name: exclaim;
		  animation-iteration-count: infinite;
		  transform: scale(1);
		}

		.exclamation3 {
		  animation-duration: 4s;
		  animation-delay: 3s;
		  animation-fill-mode: both;
		  animation-timing-function: ease-in-out;
		  animation-name: exclaim;
		  animation-iteration-count: infinite;
		  transform: scale(1);
		}

		.exclamation4 {
		  animation-duration: 4s;
		  animation-delay: 4s;
		  animation-fill-mode: both;
		  animation-timing-function: ease-in-out;
		  animation-name: exclaim;
		  animation-iteration-count: infinite;
		  transform: scale(1);
		}

		@keyframes exclaim {
		  0% {
		    opacity: 0;
		    transform: translateY(50%);
		  }
		  33% {
		    transform: scale(1);
		  }
		  44% {
		    transform: scale(0.98);
		  }
		  55% {
		    transform: scale(1.02);
		  }

		  66% {
		    transform: scale(1);
		  }
		  100% {
		    transform: scale(1);
		  }
		}

		.flickering {
		  animation-duration: 4s;
		  animation-fill-mode: both;
		  animation-timing-function: ease-in-out;
		  animation-name: flicker;
		  animation-iteration-count: infinite;
		  transform: rotateX(0deg);
		}

		@keyframes flicker {
		  0% {
		    transform: rotateX(0deg);
		  }
		  33% {
		    transform: rotateX(-6deg);
		  }
		  66% {
		    transform: rotateX(6deg);
		  }
		  100% {
		    transform: rotateX(0deg);
		  }
		}

	}
	
	.svg-two{
	     width: 250px;
	     padding-top: 14%;
	     height: 250px;		
	     transform: translateX(-45px);
		.filter {
		  position: absolute;
		}
		.gooey-contain {
			height: 200px;
			width: 200px;
			filter: url(#gooeyness);
		}
		.ball {
			width: 50px;
			height: 50px;
			background-color: #00C8E5;
			border-radius: 100%;
			position: absolute;
		}
		#roll {
			width: 30px;
			height: 30px;
			top: 10px;
			left: -15px;
		}
		#l-ball {
			left: 0;
			position: absolute;
		  animation-duration: .7s;
		  animation-name: l-go;
		  animation-iteration-count: infinite;
			animation-direction: alternate;
		}
		@keyframes l-go {
		  from, 0%, to {
				height: 50px;
				width: 50px;
				transform: translate(0,0);
		  }
		  100% {
				height: 60px;
				width: 60px;
				transform: translate(0,-5px);
		  }
		}
		#m-ball {
			left: 100px;
		}
		#r-ball {
			left: 200px;
		}
		.roll {
		  position: absolute;
		  animation-duration: 1.5s;
		  animation-name: roll;
		  animation-iteration-count: infinite;
			animation-fill-mode: forwards;
		}
		@keyframes roll {
		  from, 0%, to {
		    animation-timing-function: ease-in-out;
		    transform: translate3d(15px,0,0);
		  }
		  100% {
		    transform: translate3d(235px,0,0);
		  }
		}
	}

	.svg-three{
		h1{
			margin-top:86%
		}
		width: 250px;
	    height: 250px;		
		$blue: #00C8E5;
		$curve: cubic-bezier(0.420, 0.000, 0.275, 1.155);
		$time: 1.4s;

		@mixin size($size) {
		  width: $size;
		  height: $size;
		}

		.confetti {
		  position: absolute;
		  animation: grow $time $curve both infinite;
		  
		  &:nth-child(1) {
		    @include size(12px);
		    left: 12px;
		    top: 16px;
		  }
		  
		  &:nth-child(2) {
		    @include size(18px);
		    left: 168px;
		    top: 84px;
		  }
		  
		  &:nth-child(3) {
		    @include size(10px);
		    left: 32px;
		    top: 162px;
		  }
		  
		  &:nth-child(4) {
		    @include size(20px);
		    left: 82px;
		    top: -12px;
		  }
		  
		  &:nth-child(5) {
		    @include size(14px);
		    left: 125px;
		    top: 162px;
		  }
		  
		  &:nth-child(6) {
		    @include size(10px);
		    left: 16px;
		    top: 16px;
		  }
		  
		  @for $i from 1 through 6 {
		    &:nth-child(#{$i}) {
		      animation-delay: $i*($time/2);
		    }
		  }
		}

		.checkmark {
		  position: relative;
		  padding: 30px;
		  animation: checkmark 5.6s $curve both infinite;
		  transform:translate(14%,65%);
		}

		.checkmark__check {
		  position: absolute;
		  top: 51%;
		  left: 36%;
		  z-index: 10;
		  transform: translate3d(-50%, -50%, 0);
		  fill: #FFF;
		}

		.checkmark__back {
		  animation: rotate 35s linear both infinite;
		}

		@keyframes rotate {
		  0% {
		    transform: rotate(0deg);
		  }
		  
		  100% {
		    transform: rotate(360deg);
		  }
		}

		@keyframes grow {
		  0%, 100% {
		    transform: scale(0);
		  }

		  50% {
		    transform: scale(1);
		  }
		}

	}
}


.blog{
	 > h1{margin-bottom: 5%;text-align: center;}
	.cards-wrapper {
	  display: flex;
	  justify-content: space-around;
	}

	.card {
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity))), var(--bg-img);
    height: 20em;
    width: 15em;
    font-size: 1.5em;
    color: white;
    padding: 1em;
    /* margin: 2em; */
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 5px solid #FFF;
    text-decoration: none;
	}

	.card:hover {
	  transform: rotate(0);
	}

	.card h1 {
	  margin: 0;
	  // font-size: 3.5em;
	  line-height: 1.2em;
	}

	.card p {
	  font-size: 0.75em;
	  margin-top: 0.5em;
	  color:#FFF;
	  line-height: 2em;
	}

	.card .tags {
	  display: flex;
	}

	.card .tags .tag {
	  font-size: 0.75em;
	  background: rgba(255,255,255,0.5);
	  border-radius: 0.3rem;
	  padding: 0 0.5em;
	  margin-right: 0.5em;
	  line-height: 1.5em;
	  transition: all, var(--transition-time);
	}

	.card:hover .tags .tag {
	  background: $accent;
	  color: white;
	}
	.card:hover p{
		color:#000;
	}


	.card .date {
	  position: absolute;
	  top: 0;
	  right: 0;
	  font-size: 0.75em;
	  padding: 1em;
	  line-height: 1em;
	  opacity: .8;
	}

	.card:before, .card:after {
	  content: '';
	  transform: scale(0);
	  transform-origin: top left;
	  border-radius: 50%;
	  position: absolute;
	  left: -50%;
	  top: -50%;
	  z-index: -5;
	  transition: all, var(--transition-time);
	  transition-timing-function: ease-in-out;
	}

	.card:before {
	  background: #ddd;
	  width: 250%;
	  height: 250%;
	}

	.card:after {
	  background: white;
	  width: 200%;
	  height: 200%;
	}

	.card:hover {
	  color: $accent
	}

	.card:hover:before, .card:hover:after {
	  transform: scale(1);
	}

	.card-grid-space .num {
	  font-size: 3em;
	  margin-bottom: 1.2rem;
	  margin-left: 1rem;
	}

	.info {
	  font-size: 1.2em;
	  display: flex;
	  padding: 1em 3em;
	  height: 3em;
	}

	.info img {
	  height: 3em;
	  margin-right: 0.5em;
	}

	.info h1 {
	  font-size: 1.7em;
	  font-weight: normal;
	}

}


 @media screen and (max-width: 798px){
 	.offer{
 		justify-content: space-around;
 		p {
 		    font-size: 12px !important;
		    margin-left: 49px;
 		}
 	} 
	header{
		.wrapper{
			height: auto !important; 
		}		
		main{
			flex-direction: column;
			height: 100vh !important;
			.typing h1{
				font-size: 2.5em !important;
			}
		}
	}
	.features{
		.feature{
			height: auto !important;
			flex-direction: column;
			text-align: center;
			.mediaTxt{
				padding:15px;
			}
		}
	}
 	
 }
	
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space {
	margin-bottom: 60px;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}

/* QUIZ */

@media screen and (max-width: 990px){
	.infographics{
		flex-direction: column;
	}
	.infographics .svg-one svg{
		transform:none;
	}
	.infographics .svg-two{
		transform: translateX(36%);
	}
	.infographics .svg-three{
	    height: auto !important;
	    padding-top: 20%;
        transform: translateX(36%)
	}
}