header.vl-qs{
	// overflow:hidden;	
	.text-holder{
		h1{
			font-size:5em;
		}
	}
	.header-media{
		img{
			position: relative;
			width:600px;
			display: block;
		}

		> div{
			position: absolute;
			width:33px;
			height: 33px;
			background:$accent;
			border-radius:50%;
			cursor: pointer;
			animation:animatedCircles 5s infinite ease-in-out alternate;
			transition: .3s;
			&:hover{
				background: #000;
			}
			&:hover:before {
				background: #FFF;
			}
			&:hover{
				background: #000;
			}
			&:after{
				content: "";
			    display: block;
			    width: 50px;
			    left: -9px;
			    top: -8px;
			    height: 50px;
			    border: 3px solid #00A8FF;
			    border-radius: 50%;
			    position: absolute;
			}
			&:before{
			    content: "";
			    display: block;
			    width: 8px;
			    border-radius: 50%;
			    left: 7px;
			    top: -10px;
			    z-index: 9999;
			    height: 8px;
			    background: #101010;
			    position: absolute;
			}
		}

		@keyframes animatedCircles {
			0%{
				transform:rotate(0deg);
			}
			100%{
				transform:rotate(360deg) scale(0.8);
			}
		}

		.dot-arm-1{
		    top: 23%;
		    left: 21%;
		}
		.dot-arm-2{
		    top: 20%;
		    left: 76%;
		}
		.dot-arm-3{
		    top: 37%;
		    left: 29%;
		}
		.dot-knee{
		    top: 49%;
		    left: 29%;
		}
		.dot-hip{
		    top: 31%;
		    left: 51%;
		}
		.dot-leg{
		    top: 77%;
		    left: 80%;
		}
	}
}
// only when questionnaire is active
// body{
// 	overflow:hidden;
// }
.questionnaire{

	overflow:hidden;
	position: absolute;
	top:0;
	height: 150%;
	width:100%;
	z-index: 9999999;
	background:#FFF;
// background-color: #ddf8ff;
// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2368aecc' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%235885aa' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2358aec8' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%235084a4' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2347adc2' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%234a829d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2336acbb' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23468096' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2325abb2' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23447e8f' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2316aaa8' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23437c88' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
// background-attachment: fixed;
// background-size: cover;
	margin:0;
	padding:0;
	// display: none;
	.welcome{
		width:700px;
		margin:0 auto;
		text-align: center;
		display: none; 
		h1{
			font-size:3.2em;
		}
		p{
			font-size:2em;
			color:$textc;
		}
	}
	#questions{
		// opacity: 0;
		.question{
			text-align:center;
		}
		#options{
			.options-ul{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
			.option{
				background:#FFF;
				justify-content: center;
				font-size:1.2em;
				padding:20px;
				width:200px;
				height:200px;
				margin:10px;
				box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
				border-radius:10px;
				cursor:pointer;
				font-weight: bold;
			    display: flex;
			    flex-direction: column;
			    align-items: center;
				&:hover{
					transition: .3s;
					background:$accent;
					color:#FFF;
					transform:scale(1.05) !important;
				}
				img{
					width:100%;
					height:100%;
				}
			}
			.not{
				background:#e84118;
				color:#FFF;
			}
		}
	}
}