---
layout: default
---
	<header class="articles-header">
		<div class="about-nav">
			{% include navbar.html %}
		</div>
	</header>
		<div class="container">
			
		<div class="page">
			<div class="page__folder page__folder--dummy"></div>
			<div class="page__folder page__folder--dummy"></div>
			<div class="page__folder page__folder--dummy"></div>
			<main class="main-wrap page__folder">
				<div class="codrops-header">
					<h1>{{page.categories}} > {{ page.title }}</h1>
				</div>
				<hr class="fasil">
				<div class="all-articles-holder">
					 	{% for tag in page.tags %}
						 <h1 class="category-title"> {{ tag }}</h1>
							<section class="card-holder">
							{% for category in site.categories %}	
								    {% for post in category[1] %}
								    	{% if post.tags contains tag %}
									    	{% if post.categories contains page.title  %}
											<a href="{{post.url}}" class="card-link">
												<div class="card">
												  <div class="card-img-top" style='background:url("{{site.url}}/{{post.featImg}}");' alt="Blog image cap"></div>
												  <div class="card-block">
												    <div class=" category-title category">{{post.categories | join:' '}}
												    </div>
														<span style="color:#E89800">  > {{ post.tags }}</span>
												    <h3 class="card-title">{{post.title}}</h3>
												  </div>
												</div>
											</a>
											{% endif %}
								    	{% endif %}
	    							{% endfor %}
							 {% endfor %}
							</section>
				{% endfor %}
				</div>
		</main>
	</div>
</div>

{% include footer.html %}

